.header {
    padding: 96px 0 77px 0;
    background: var(--white);
}

.header__title {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;

    color: var(--black);
}