:root {
  interpolate-size: allow-keywords;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: .5rem;

  font-family: 'Inter';
}

.accordion__item {
  padding: 24px 32px;

  background: var(--white);
  border: 1px solid var(--grey-2);
  border-radius: 8px;

  overflow: hidden;
}

.accordion__title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);

  cursor: pointer;
}
  
.accordion__content {
  padding: 1rem .5rem;
  margin: 0;
  
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-4);
}

.accordion__arrow-icon {
  width: 16px;
  height: 16px;

  color: var(--black);
  transition: transform .3s ease;
}

.accordion__item[open] .accordion__arrow-icon {
  transform: rotate(180deg);
}


/* ONLY IF SUPPORTED */
.accordion__item::details-content {
  block-size: 0;
  transition: block-size .3s,
              content-visibility .3s;
  transition-behavior: allow-discrete;
}

.accordion__item[open]::details-content {
  block-size: auto;
}