.skeleton {
    box-sizing: border-box;
    padding: 24px 40px 32px 24px;

    border: 1px solid var(--grey-3);
    border-radius: 8px;
}

.skeleton__header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.skeleton__titles {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 8px;
}

.skeleton__logo {
    flex-shrink: 0;

    background: var(--grey-2);
    border-radius: 50%;
}

.skeleton__logo_size-m {
    width: 64px;
    height: 64px;
}

.skeleton__body {
    margin-top: 24px;
    
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.skeleton__row {
    height: 20px;
    background: var(--grey-2);
}

.skeleton__row_size-m {
    width: 40%;
}
.skeleton__row_size-l {
    width: 60%;
}
.skeleton__row_size-f {
    width: 100%;
}

.skeleton__logo, .skeleton__row {
    background: var(--bg-grey-gradient);
    background-size: 200% 100%;
    animation: backgroundMove 2s linear infinite;
}

@keyframes backgroundMove {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: -100% 0;
    }
}