body {
    padding: 200px;
}

.checkbox {
    display: inline-block;
}

.checkbox__state {
    display: flex;
    align-items: center;
    gap: 12px;

    cursor: pointer;
}

.checkbox__control {
    position: relative;
    width: 28px;
    height: 28px;

    border: 1px solid var(--grey-2);
    border-radius: 4px;
    background: var(--white);
}

.checkbox__control::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: scale(1);
    border-radius: 4px;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.109);

}

.checkbox__icon {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    height: 13px;
    width: 18px;

    color: var(--white);
    display: none;
}

.checkbox__input {
    position: absolute;
    left: -100vw;
}

.checkbox__legend {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: var(--grey-4);
}

/* INPUT:CHECKED */
.checkbox__input:checked ~ .checkbox__state .checkbox__control{
    background: var(--blue-light);
    border-color: var(--blue-light);
}

.checkbox__input:checked ~ .checkbox__state .checkbox__control::after {
    animation: splash 400ms linear;
}


.checkbox__input:checked ~ .checkbox__state .checkbox__icon {
    display: block;
}

/* INPUT:DISABLED */
.checkbox__input:disabled ~ .checkbox__state .checkbox__control {
    background: var(--grey-2);
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__legend {
    color: var(--grey-2);
}

.checkbox__input:disabled ~ .checkbox__state {
    pointer-events: none;
}

/* INPUT:FOCUS */
.checkbox__input:focus ~ .checkbox__state .checkbox__control{
    border-color: var(--blue-light);
}

@keyframes splash {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }


    50% {
        opacity: 1;
        transform: scale(1.6);
    }

    100% {
        opacity: 0;
        transform: scale(2);
    }
}