.burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    transform: translate(-100vw);
    transition: transform 250ms ease-in-out;

    background: var(--white);
}

.burger-menu[data-open] {
    transform: translate(0);
}

.burger-menu__header {
    margin: 16px 0 32px;
}

.burger-menu__section {
    padding: 24px 0;

    display: flex;
    flex-direction: column;
    gap: 16px;

    border-top: 1px solid var(--grey-2);
}

.burger-menu__title {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

    color: var(--grey-3);
}

.burger-menu__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    text-decoration: none;
    color: var(--black);
}

.icon-menu-open {
    width: 24px;
    height: 24px;
    color: var(--grey-4);
}

.burger-menu__button-close {
    width: 32px;
    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 50%;
    background: var(--grey-2);

}

.burger-menu__close {
    width: 24px;
    height: 24px;
    color: var(--black);
}

@media screen and (min-width: 768px) {
    .burger-menu {
        display: none;
    }
}