.input {
    display: inline-block;
}

.input__legend {
    margin-bottom: 5px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--grey-3);
}

.input__wrapper {
    position: relative;
}

.input__field {
    box-sizing: border-box;
    padding: 17px 24px 13px; 
    height: 56px;

    background: var(--white);
    border: 1px solid var(--grey-1);
    border-radius: 8px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

    color: var(--grey-4);

    outline: none;
}

.input__icon {
    display: none;
    pointer-events: none;
}

/* INPUT FOCUS */
.input__field:focus {
    border-color: var(--blue-light);
    transition: border-color .3s ease
}

/* INPUT SUCCESS */
.input_success .input__icon_success {
    position: absolute;
    bottom: 50%;
    right: 16px;
    transform: translateY(50%);

    display: block;
    width: 24px;
    height: 24px;

    color: var(--success);
}

/* INPUT ERROR */
.input_error .input__icon_error {
    position: absolute;
    bottom: 50%;
    right: 16px;
    transform: translateY(50%);

    display: block;
    width: 24px;
    height: 24px;

    color: var(--error);
}

.input_error .input__field{
    border: 1px solid var(--error);
}